<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlackTea.room</title>
    <link rel="stylesheet" href="Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="Content/css/index.css">

</head>

<body>
    <div class="container-fluid" id="app" v-cloak>
        <div class="roomopt" v-show='roomopt'>
            <img src="Content/images/关闭.png" alt="" style="width: 24px;position: absolute;right: 15px;top: 5px;" @click='roomoptHide'>
            <p style="margin-top: 30px;" @click='roomopt_add'>加入自习室</p>
            <span>or</span>
            <p @click='roomopt_create'>创建自习室</p>

        </div>
        <div class="addroom" v-show='addroompop'>
            <img src="Content/images/关闭.png" alt="" style="width: 24px;position: absolute;right: 15px;top: 5px;" @click='addroomHide'>
            <div style="margin-top: 50px;">
                <label for="">自习室ID:</label><input style="width: 120px;" type="text" v-model='roomid'>
            </div>
            <div style="margin-top: 15px;"><input type="button" value="加入" @click='add_room'></div>
        </div>
        <div class="pop">
            <p>注册成功！</p>
            <!-- <p>3s</p> -->
        </div>
        <div class="room-rank" v-show='roomRank'>
            <p style="position: relative;">自习室排行榜 <img src="Content/images/关闭.png" alt="" style="width: 24px;position: absolute;right: 15px;top: 5px;" @click='roomRankHide'> </p>
            <ul>
                <li v-for="(item,index) in ranklist">{{item.username}}专注时长: <span>{{item.sumduration}}min</span></li>
            </ul>
        </div>
        <div class="createpop" v-show='createpop'>
            <img src="Content/images/关闭.png" alt="" style="width: 24px;position: absolute;right: 15px;top: 5px;" @click='createRoomPopHide'>
            <label for="">自习室名称：</label><input type="text" v-model='roomName' class="roomInfor">
            <br>
            <label for="">容&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;量：</label><input type="text" v-model='max_num' class="roomInfor">
            <br>
            <input type="button" value="创建" id="createIt" class="btn" @click='createBtn()'>
        </div>
        <!-- 头部logo与菜单 -->
        <header class="row index_header" id="head"><img src="Content/images/logo.png" alt="logo" style="width: 40%;margin-left: 30px;">
            <span><img src="Content/images/菜单.png" alt="menu" id="menu" style="width: 32px;" @click="show"></span>
            <div v-show='flag' class="top-memu">
                <ul style="margin-left: 15px;">
                    <li><a href="index.html">首页</a> </li>
                    <li><a href="data.html">统计</a> </li>
                    <li><a href="room.html">自习室</a> </li>

                    <li><a href="reading.html">图书角</a></li>
                    <li><a href="english.html">英语角</a></li>

                </ul>

            </div>
        </header>
        <hr>
        <div id="room-back" style="margin-top: -15px;height: 700px;overflow-y: auto;">
            <div style="height: 15px;width: 100%;">
                <input type="button" value="自习室广场" id="all-room" @click='getRoom'> <input type="button" value="我的自习室" id="my-room" @click='getMyroom'>
            </div>
            <div class="rooms">
                <ul class="roomitems" style="margin-top: 30px;">
                    <li class="room" v-for="(item,index) in roomList" @click='roomRankShow(index)'>
                        <div class="row">
                            <div class="col-5" style="font-size: 15px;color:#f78259;">自习室ID：{{item.id}}</div>
                            <div class="col-7" style="font-size: 15px;color:#f78259;">自习室名：{{item.room_name}}</div>
                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-5" style="font-size: 15px;color:#f78259;">容量：{{item.max_num}}</div>

                            <div class="col-7" style="font-size: 15px;color:#f78259;">创建时间：{{item.found_date}}</div>
                        </div>
                    </li>
                </ul>
                <div style="height: 100px;width: 100%;"></div>
            </div>
            <!-- 添加的按钮 -->
            <div class="add-room">
                <img src="Content/images/添加-.png" alt="add" style="width: 48px;" @click='roomoptShow'>
            </div>

            <footer style="height: 80px;width: 110%;margin-left: -5%; background: white;position: fixed;bottom: -15px;z-index: 1100;">
                <div class="row foot-menu" style="margin-left: 10%;width: 80%;">
                    <div class="col-3" style="vertical-align: middle;line-height: 65px;">
                        <a href="index.html"><img id="foot-menu1" src="Content/images/待办.png" alt="" width="32px"></a>
                    </div>
                    <div class="col-3" style="vertical-align: middle;line-height: 65px;">
                        <a href="data.html"><img id="foot-menu2" src="Content/images/数据.png" alt="" width="32px"></a>
                    </div>
                    <div class="col-3" style="vertical-align: middle;line-height: 65px;">
                        <a href="room.html"><img id="foot-menu3" src="Content/images/教室.png" alt="" width="32px"></a>
                    </div>
                    <div class="col-2" style="vertical-align: middle;line-height: 65px;">
                        <a href="personal.html"><img id="foot-menu4" src="Content/images/用户.png" alt="" width="32px"></a>
                    </div>
                </div>
            </footer>


        </div>

    </div>



</body>
<script src="Content/js/jquery.min.js"></script>
<script src="Content/js/cookie.js"></script>
<script src="Content/js/vue.js"></script>
<script src="Content/js/room.js"></script>




</html>